<html>
<head>
  <title>Putting the AI in email</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compose.css') }}">
</head>

<body>
  <div id="one" >
    <h1>Compose an email </h1>
    <form action="{{ url_for('review') }}" method="post" class="form">
      <p class="recipient">
        <input type="text" name="recipient" value="{{ recipient }}">
        <label for="recipient">To</label>
      </p>
      <p class="subject">
        <input type="text" name="subject" value="{{ subject }}">
        <label for="subject">Subject</label>
      </p>
      <p class="body">
        <textarea name="body" size="5000">{{ body }}</textarea>
      </p>
      <p class="submit">
        <input type="submit" name="action" value="Review" />
      </p>
    </form>
    <br><br><br><br><br><br><br><br>
    <form action = "{{url_for('logout')}}" method = "POST">
      <p><input type="submit" value="Logout" style="width:350px"></p>
    </form>
  </div>
  {% if review %}
  <div id="two">
    <h1>Review your email</h1>
    <form action="{{ url_for('send') }}" method="post" class="form">
      <p class="recipient">
        <input type="text" name="recipient" value="{{ recipient }}" readonly>
        <label for="recipient">To</label>
      </p>
      <p class="subject">
        <input type="text" name="subject" value="{{ subject }}" readonly>
        <label for="subject">Subject</label>
      </p>
      <div class="legend">
        <p>
          <span class="neg">Negative</span> <br>
          <span class="pos">Positive</span> <br>
          <span class="action">Action Item</span>
        </p>
      </div>
      <p>
        <div id="review">
          {%- for item in results -%}
            <span class="{%- if item[1]|float < -0.5 -%} neg
                         {%- elif item[1]|float > 0.5 -%} pos
                         {%- else -%} neutral
                         {%- endif %} {{ item[1] }}
                         {%- if item[2] %} action{%- endif -%}">{{ item[0] }}<span id="action-tooltip">This has been identified as an <b>action item</b></span><span id="neg-tooltip">This is a <b>negative</b> sentence :(</span><span id="pos-tooltip">This is a <b>positive</b> sentence!</span></span>
          {%- endfor -%}
        </div>
        <input type="text" style="display:none" name="body" value="{{ body }}" readonly>
      </p>
      <div id="feedback">
      {%- if actions == 0 -%}
        <span class="neg">Warning:</span> Your email has no clear action items</span>. <br>
        <span class="pos">Suggestion:</span> If there are specific tasks you want recipients to do, make those tasks as clear as possible.
      {%- elif actions == 1 and not lastaction -%}
        <span class="neg">Warning:</span> Your email contains an action item in the middle of the email, which is harder for readers to notice.<br>
        <span class="pos">Suggestion:</span> Move action items to the top or bottom.
      {%- elif actions > 1 -%}
        <span class="pos">Suggestion:</span> Consider organizing multiple action items explicitly in a list.
      {%- else -%}
        <span class="pos">Everything looks good!</span>
      {%- endif -%}
      </div>
      <p class="submit">
        <input type="submit" name="action" value="Send" />
      </p>
    </form>
    <br>
  </div>
  {% endif %}
</body>
</html>
